<div class="header-pages-home">
  <%= image_tag "prepify-bowl.svg", alt: "Prepify Logo", class: "header-logo" %>
  <h3 class="header-title"><b>Prepify</b></h3>
</div>

<div class="container justify-content-center mt-3">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h2 class="mt-3 mb-3 text-center"><b>Sign up</b></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username, autofocus: true %>
          <%= f.input :email,
                      required: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :photo, as: :file,
                      required: true, input_html: { accept: 'image/jpeg,image/png,image/gif' } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn orange-btn mb-3" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
