
<div class ="favorite-container">

  <H2><b>Favorite recipes</b></H2>

 <%= render "shared/search" %>

  <div class="favorite-grid pt-4">

    <% @recipes.each do |recipe| %>

      <div class="showcard">
        <img src="<%= recipe.image %>" class="card-image" alt="<%= recipe.title %>">
        <div class="card-content">
          <h6><%= link_to recipe.title, recipe_path(recipe), class: "card-title" %></h6>
          <p class="card-text"><%= recipe.category.split(', ')[0] %></p>
        </div>
        <%= image_tag 'plus.svg', class: "add-button" %>
      </div>
    <% end %>

  </div>

</div>
