<div class ="favorite-container mt-4">

  <h2><b>Favorite recipes</b></h2>

  <%= render "shared/search" %>

  <div class="favorite-grid pt-4">

    <% @favorites.each do |favorite| %>

      <div class="showcard">
        <img src="<%= favorite.recipe.image %>" class="showcard-image" alt="<%= favorite.recipe.title %>">
        <div class="card-content">
          <h6><b><%= link_to favorite.recipe.title, recipe_path(favorite.recipe), class: "card-title" %></b></h6>
          <p class="card-text"><%= favorite.recipe.category.split(', ')[0] %></p>
        </div>
        <%= image_tag 'plus.svg', class: "add-button" %>

        <i id="plus-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><%= image_tag 'plus.svg', class: "add-button" %></i>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"> Would you like to add this recipe to your Calendar?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="button-container">
                <%= simple_form_for [favorite.recipe, @planned_meal] do |f| %>
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.input :date, as: :string, input_html: { id: "date", data: { controller: "datepicker" }, class: "form-control", placeholder: "Select a day" }, label: false %>
                    </div>
                    <div class="col-md-6">
                      <%= f.button :submit, "Add to my Calendar", class: "btn btn-outline-primary d-flex justify-content-center mx-auto mt-3 p-1" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
