<div class="header-pages">
  <h3><b>My Calendar</b></h3>
</div>
<div class="container">
  <div class="text-center mt-4">
    <% if @planned_meals.empty? %>
      <%= link_to 'Search for recipe ideas', recipes_path, class: "p-3 mb-2 btn orange-btn text-light" %>
    <% else %>
      <% (Date.today..Date.today + 6).each do |day| %>
        <h4><b><%= day.strftime("%A") %></b></h4>
        <hr>
        <% group = @planned_meals.where(date: day) %>
        <% if group.empty? %>
          <%= link_to '+', recipes_path, class: 'btn orange-btn-round text-light' %>
        <% else %>
          <div class="grid-planned-meal mb-3 justify-content-center">
            <% group.each do |planned| %>
              <div class="card-planned-meal">
                <%= link_to recipe_path(planned.recipe), class: 'd-flex flex-column align-items-center justify-content-center w-100 h-100 text-decoration-none', style: "color: white;" do %>
                  <img src="<%= planned.recipe.image %>" class="card-image-planned-meal" alt="<%= planned.recipe.title %>">
                  <div class="card-content-planned-meal">
                    <%= planned.recipe.title %>
                    <p class="card-text"><%= planned.recipe.category.split(', ')[0] %></p>
                  </div>
                <% end %>
                <%= link_to planned_meal_path(planned.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-button" do %>
                  <%= image_tag 'delete.svg' %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="text-center mt-4">
    <% if @future_meals_hash.empty? %>
      <hr>
      <span class="box">
        <p>You're up to date!<br>Plan meals for the weeks ahead.</p>
      </span>
    <% else %>
        <hr>
      <h4 class="mb-2"><b>On the next weeks:</b></h4>
      <% @future_meals_hash.each do |key, group| %>
        <h4><b><%= key.strftime("%d/%m/%Y") %></b></h4>
        <div class="grid-planned-meal mb-3 justify-content-center">
          <% group.each do |meal| %>
          <div class="card-planned-meal">
              <img src="<%= meal.recipe.image %>" class="card-image-planned-meal" alt="<%= meal.recipe.title %>">
              <div class="card-content-planned-meal">
                  <%= link_to meal.recipe.title, recipe_path(meal.recipe), class: "card-title" %>
                  <p class="card-text"><%= meal.recipe.category.split(', ')[0] %></p>
              </div>
                <%= link_to planned_meal_path(meal.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-button" do %>
                <%= image_tag 'delete.svg'%>
                <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
