<div class="container mt-4">
  <div class="indexpage-title pb-1 mt-4">
    <h3><b>My Calendar</b></h3>
  </div>
  <div class="text-center mt-4">
    <% if @planned_meals.empty? %>
      <p>You still don't have any meals planned.</p>
      <%= link_to 'Search for recipe ideas', recipes_path, class: "p-3 mb-2 btn orange-btn text-light" %>
    <% else %>
      <% (Date.today..Date.today + 6).each do |day| %>
        <h4><b><%= day.strftime("%A, %d/%m/%Y") %></b></h4>
        <hr>
        <% group = @planned_meals.where(date: day) %>
        <% if group.empty? %>
          <%= link_to '+', recipes_path, class: 'btn orange-btn-round text-light' %>
        <% else %>
          <div class="grid-planned-meal mb-3 justify-content-center">
            <% group.each do |planned| %>
              <div class="card-planned-meal">
                <img src="<%= planned.recipe.image %>" class="card-image-planned-meal" alt="<%= planned.recipe.title %>">
                <div class="card-content-planned-meal">
                  <%= link_to planned.recipe.title, recipe_path(planned.recipe), class: "card-title" %>
                  <p class="card-text"><%= planned.recipe.category.split(', ')[0] %></p>
                </div>
                  <%= link_to planned_meal_path(planned.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure???" }, class: "delete-button" do %>
                    <%= image_tag 'delete.svg' %>
                  <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
