<div class="search-container mt-2">

  <div class="indexpage-title pb-2 mt-2">
    <h3><b>Search</b></h3>
  </div>

  <%= render 'shared/search' %>

  <div class="row">
      <div class="col-sm-12">
          <h5 class ="pt-3 pb-3"><b>All recipes</b></h5>
      </div>
  </div>

  <% if @recipes.empty? %>
    <div class="row">
      <div class="col-sm-12">
        <p>Oops, no recipe was found with your keyword.</p>
        <p>Try a different one!</p>
      </div>
    </div>
  <% else %>
    <div class = "search-grid">
            <% @recipes.each do |recipe| %>
              <div class="card">
                  <img src="<%= recipe.image %>" class="card-image" alt="<%= recipe.title %>">
                  <div class="card-content">
                      <%= link_to recipe.title, recipe_path(recipe), class: "card-title" %>
                      <p class="card-text"><%= recipe.category.split(', ')[0] %></p>
                  </div>


                  <i id="plus-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%=recipe.id%>"><%= image_tag 'plus.svg', class: "add-button" %></i>

                  <div class="modal fade" id="staticBackdrop<%=recipe.id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Where do you want to add this recipe?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="button-container">
                          <div data-controller="add-to-favorites">
                            <% if current_user.favorites.exists?(recipe_id: recipe.id) %>
                              <button type="button" data-add-to-favorites-target="button" class="btn btn-outline-success d-flex justify-content-center mx-auto mt-3 p-1" disabled> Already saved in my favorites! </button>
                            <% else %>
                              <%= form_with url: recipe_favorites_path(recipe_id: recipe.id), data: {add_to_favorites_target: "form", action:"submit->add-to-favorites#send"}, method: :post, class: "d-inline" do %>
                              <button type="submit" class="btn orange-btn d-flex justify-content-center mx-auto mt-2 p-2" data-add-to-favorites-target="button">
                                Add to my favorites <i class="fa-solid fa-heart p-1"> </i>
                              </button>
                                <% end %>
                            <% end %>
                          </div>
                          <hr>
                        <div data-controller= "add-to-calendar">
                            <%= simple_form_for [recipe, @planned_meal], data: { add_to_calendar_target: "form", action:"submit->add-to-calendar#send"} do |f| %>
                              <div class="row justify-content-center">
                                <div class="col-md-6 text-center">
                                  <%= f.input :date, as: :string, input_html: { id: "date", data: { controller: "datepicker", add_to_calendar_target: "input"}, class: "form-control text-center mx-auto w-50", placeholder: "Select a day" }, label: false %>
                                </div>
                              </div>
                              <div class="row justify-content-center">
                                <div class="col-md-6">
                                  <%= f.button :submit, "Add to my calendar", class: "btn orange-btn d-flex justify-content-center mx-auto mt-2 mb-3 p-2" %>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
    </div>
  <% end %>

</div>
