<div class="recipe-showpage col-12 col-lg-4">

  <div class="recipe-showcard">
    <img src="<%= @recipe.image %>" class="recipe-image" alt="<%= @recipe.title %>">
    <p class="category-tag"><%= @recipe.category %></p>
    <i id="plus-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><%= image_tag 'plus.svg', class: "add-button" %></i>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Where do you want to add this recipe?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="button-container">
            <%= form_with url: recipe_favorites_path(recipe_id: @recipe.id), method: :post, class: "d-inline" do %>
            <button type="submit" class="btn btn-outline-primary d-flex justify-content-center mx-auto mt-3 p-1">
              My Favorites <i class="fa-solid fa-heart p-1"></i>
            </button>
              <% end %>
            <hr>
            <%= simple_form_for [@recipe, @planned_meal] do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :date, as: :string, input_html: { id: "date", data: { controller: "datepicker" }, class: "form-control" }, label: false %>
                </div>
                <div class="col-md-6">
                  <%= f.button :submit, "Add to my Calendar", class: "btn btn-outline-primary d-flex justify-content-center mx-auto mt-3 p-1" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="show-recipe-info">
    <h4 class= "pb-3 pt-1"><%= @recipe.title %></h4>
    <div class="recipe-grid">
    <p> Servings: <%= @recipe.servings %></p>

    <p><%= @recipe.ingredients.count %> ingredients</p>
    </div>


    <div data-controller="toggle" class="mt-2">
      <button data-action="click->toggle#fire1" class="btn btn-outline-secondary my-3"> Ingredients
      </button>
      <button data-action="click->toggle#fire2" class="btn btn-outline-secondary my-3"> Instructions
      </button>

      <div  class="ingredient-card-scroll" data-toggle-target="ingredients">
        <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
          <li class="ingredient-card mt-2">
            <div class="grid"><%= recipe_ingredient.ingredient.name.capitalize %></div>
            <div class="grid"><%= recipe_ingredient.quantity%><%= recipe_ingredient.unit %></div>
          </li>
          <% end %>
      </div>


      <div class="instructions-container instructions-scroll d-none" data-toggle-target="instructions">
        <% chunks = @recipe.instructions.split('.') %>
        <% chunks.each_with_index do |chunk, index|%>
          <div class="flex-box">
            <p class="index"><%= index + 1 %>. </p>

            <p class="chunk"><%= chunk %></p>
            <br>
          </div>
          <% end %>
      </div>

    </div>

  </div>
</div>
