<div class="recipe-showpage col-12 col-lg-4">

  <div class="recipe-showcard">
    <img src="<%= @recipe.image %>" class="recipe-image" alt="<%= @recipe.title %>">
    <p class="showcategory category-tag"><%= @recipe.category.capitalize %></p>
    <i id="plus-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><%= image_tag 'plus.svg', class: "add-button" %></i>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Where do you want to add this recipe?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="button-container">

            <% if current_user.favorites.exists?(recipe_id: @recipe.id) %>
              <button class="btn btn-outline-success d-flex justify-content-center mx-auto mt-3 p-1"> Already saved in my favorites!</button>
            <% else %>
              <%= form_with url: recipe_favorites_path(recipe_id: @recipe.id), method: :post, class: "d-inline" do %>
                <button type="submit" class="btn orange-btn d-flex justify-content-center mx-auto mt-3 mb-2 p-2">
                  Add to my favorites <i class="fa-solid fa-heart p-1"></i>
                </button>
              <% end %>
            <% end %>
            <hr>
            <div data-controller= "add-to-calendar">
              <%= simple_form_for [@recipe, @planned_meal], data: { add_to_calendar_target: "form", action:"submit->add-to-calendar#send"} do |f| %>
                <div class="row justify-content-center">
                  <div class="col-md-6 text-center">
                    <%= f.input :date, as: :string, input_html: { id: "date", data: { controller: "datepicker", add_to_calendar_target: "input"}, class: "form-control text-center mx-auto w-50", placeholder: "Select a day" }, label: false %>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-6">
                    <%= f.button :submit, "Add to my calendar", class: "btn orange-btn d-flex justify-content-center mx-auto mt-2 mb-3 p-2" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="show-recipe-info">
    <h4 class= "pb-3 pt-1"><b><%= @recipe.title %></b></h4>
    <div class="recipe-grid">
      <p> Servings: <%= @recipe.servings %></p>
      <p><%= @recipe.ingredients.count %> ingredients</p>
    </div>


    <div data-controller="toggle" class="mt-2">

      <div class="showbuttons">
        <button data-action="click->toggle#fire1" data-toggle-target="button" class="showbutton"> Ingredients
        </button>
        <button data-action="click->toggle#fire2" data-toggle-target="button" class="showbutton"> Instructions
        </button>
      </div>

      <div class="ingredient-grid-scroll" data-toggle-target="ingredients">
        <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
          <li class="ingredient-card mt-2">
            <div class="grid"><h6><b><%= recipe_ingredient.ingredient.name.capitalize %></b></h6></div>
            <div class="grid"><h6><%= recipe_ingredient.quantity %> <%= recipe_ingredient.unit %></h6></div>
          </li>
          <% end %>
      </div>


      <div class="instructions-container instructions-scroll d-none mt-3" data-toggle-target="instructions">
        <% chunks = @recipe.instructions.gsub(/<\/?li>|<\/?ol>/, "").split('.') %>
        <% chunks.each_with_index do |chunk, index|%>

          <div class="instruction-card">
            <p class="index"><b>Step <%= index + 1 %> </b></p>
            <p class="chunk fw-light"><%= chunk %></p>
            <br>
          </div>

          <% end %>
      </div>

    </div>

  </div>
</div>
