<nav class="fixed-navbar">
  <ul class="nav">
    <li><%= link_to 'Home', root_path do %>
      <i class="fa-solid fa-house"%></i>
      <i class="<%= 'fa-solid fa-house' if current_page?(root_path) %>
        <%= 'fa-regular fa-house' unless current_page?(root_path) %>"%>
      </i>
      <% end %>
    </li>
    <li><%= link_to 'Favorites', favorites_path do %>
      <i class="<%= 'fa-solid fa-heart' if current_page?(favorites_path) %>
        <%= 'fa-regular fa-heart' unless current_page?(favorites_path) %>"%>
      </i>
      <% end %>
    </li>
    <li>
    <%= link_to 'Grocery list', grocery_list_path do %>
      <i class="<%= 'fa-solid fa-cart-shopping' if current_page?(grocery_list_path) %>
        <%= 'fa-regular fa-cart-shopping' unless current_page?(grocery_list_path) %>"%>
      </i>
      <% end %>
    </li>
    <li>
    <%= link_to 'Calendar', calendar_path do %>
      <i class="<%= 'fa-solid fa-calendar-days' if current_page?(calendar_path)%>
        <%= 'fa-regular fa-calendar-days' unless current_page?(calendar_path) %>"%>
      </i>
      <% end %>
    </li>
    <li><%= link_to 'User', user_path do %>
      <i class="<%= 'fa-solid fa-user' if current_page?(user_path) %>
        <%= 'fa-regular fa-user' unless current_page?(user_path) %>"%>
      </i>
      <% end %>
    </li>
  </ul>
</nav>
