<nav class="fixed-navbar">
  <ul class="nav">
    <li><%= link_to root_path do %>
      <i class="<%= 'fa-solid fa-house active' if current_page?(root_path) %>
        <%= 'fa-solid fa-house inactive' unless current_page?(root_path) %>"%>
      </i>
      <% end %>
    </li>
    <li><%= link_to favorites_path do %>
      <i class="<%= 'fa-solid fa-heart' if current_page?(favorites_path) %>
        <%= 'fa-solid fa-heart' unless current_page?(favorites_path) %>"%>
      </i>
      <% end %>
    </li>
      <li>
    <%= link_to '#' do %>
      <i class="<%= 'fa-solid fa-cart-shopping' if current_page?('#') %>
        <%= 'fa-solid fa-cart-shopping' unless current_page?('#') %>"%>
      </i>
      <% end %>
    </li>
    <li>
    <%= link_to '#' do %>
      <i class="<%= 'fa-solid fa-calendar-days' if current_page?('#')%>
        <%= 'fa-solid fa-calendar-days' unless current_page?('#') %>"%>
      </i>
      <% end %>
    </li>
  <li><%= link_to '#' do %>
      <i class="<%= 'fa-solid fa-user' if current_page?('#') %>
        <%= 'fa-solid fa-user' unless current_page?('#') %>"%>
      </i>
      <% end %>
    </li>


  </ul>
</nav>
