<nav class="fixed-navbar">

  <ul class="nav">
    <li><%= link_to root_path, class:"nav-link" do %>
      <i class="<%= 'fa-solid fa-house active' if current_page?(root_path) %>
        <%= 'fa-solid fa-house inactive' unless current_page?(root_path) %>"%>
      </i>
      <% end %>
    </li>
    <li><%= link_to favorites_path, class:"nav-link" do %>
      <i class="<%= 'fa-solid fa-heart active' if current_page?(favorites_path) %>
        <%= 'fa-solid fa-heart inactive' unless current_page?(favorites_path) %>"%>
      </i>
      <% end %>
    </li>
      <li>
      <%= link_to grocery_lists_path, class:"nav-link" do %>
      <i class="<%= 'fa-solid fa-cart-shopping active' if current_page?('#')%>
        <%= 'fa-solid fa-cart-shopping inactive' unless current_page?('#') %>"%>
      </i>
      <% end %>
    </li>
    <li>
      <%= link_to planned_meals_path, class:"nav-link" do %>
      <i class="<%= 'fa-solid fa-calendar-days active' if current_page?(planned_meals_path)%>
        <%= 'fa-solid fa-calendar-days inactive' unless current_page?(planned_meals_path)%>"%>
      </i>
      <% end %>
    </li>
    <li>
    <%= link_to '#', class:"nav-link d-none" do %>
      <i class="<%= 'fa-solid fa-user active' if current_page?('#') %>
        <%= 'fa-solid fa-user inactive' unless current_page?('#') %>"%>
      </i>
      <% end %>
    </li>

  </ul>
</nav>
