<nav class="fixed-navbar">
  <ul class="nav">
    <li><%= link_to root_path do %>
      <i class="<%= 'fa-solid fa-house bg-orange text-color-white' if current_page?(root_path) %>
        <%= 'fa-solid fa-house bg-white text-color-orange' unless current_page?(root_path) %>"%>
      </i>
      <% end %>
    </li>
    <li><%= link_to favorites_path do %>
      <i class="<%= 'fa-solid fa-heart bg-orange text-color-white' if current_page?(favorites_path) %>
        <%= 'fa-solid fa-heart bg-white text-color-orange' unless current_page?(favorites_path) %>"%>
      </i>
      <% end %>
    </li>


  </ul>
</nav>
