<div class="parent-container mt-3">
  <div class="row justify-content-center">

    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col-2">
          <% if user_signed_in? %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
              <i class="fa-solid fa-bowl-food justify-content-center"></i>
            <% end %>
          <% else %>
            <i class="fa-solid fa-bowl-food justify-content-center"></i>
          <% end %>
        </div>
        <div class="col-10">
          <% if user_signed_in? %>
            <h4><b>Hello <%= current_user.username %></b></h4>
          <% else %>
            <h4><b>Hello</b></h4>
          <% end %>
          <p class="fw-light">What are you cooking this week?</p>
        </div>
      </div>
    </div>

    <%= render "shared/search" %>

    <div class="bigcard col-12 col-lg-8 mb-3 mt-3">
      <h3><%= link_to 'Today', planned_meals_path, class: 'subparagraph' %></h3>

      <div class="homecard add-recipe-card mt-3">
      <% if signed_in? %>
        <%current_user.planned_meals.find_by(date: Date.today) %>

          <% recipe = current_user.planned_meals.any? ? current_user.planned_meals.first.recipe : Recipe.last %>
          <img src="<%= recipe.image %>" class="card-image" alt="<%= recipe.title %>">

          <div class="homecard-content">
            <h6 class= "font-weight-bold"><b><%= link_to recipe.title, recipe_path(recipe), class: "card-title" %></b></h6>
            <p class="card-text font-weight-light"><%= recipe.category.split(', ')[0].capitalize %></p>
          </div>

        <% else %>
          <%= link_to recipes_path do %>
            <div>
              <i class="fa-solid fa-plus icon-orange" style="font-size: 36px;"></i>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>




    <div class="col-12 col-lg-6 justify-content-center d-flex flex-column">
      <div class="d-flex justify-content-between align-items-center">
        <%# <h4 class="mt-3"><b>Search by category</b></h4> %>
        <%= link_to 'See all', recipes_path, class: 'btn btn-link text-dark text-decoration-none ml-auto fw-light mt-3' %>
      </div>
      <div class="mt-3 category-scroll">
        <% @categories.each do |category|  %>
          <div class="category-button"><%= link_to "#{category}", root_path(categ: "#{category}"), class: params[:categ] == category ? "card-category card-category-active" : "card-category" %></div>
        <% end %>
      </div>
    </div>

  </div>
</div>



    <div class="col-12 col-lg-6 justify-content-center">
      <div class="row">
        <div class="col-12">
          <div class="recipe-cards">
            <% @recipes.each do |recipe| %>
              <div class="card-scroll">
                <img src="<%= recipe.image %>" class="card-image-scroll" alt="<%= recipe.title %>">
                <div class="card-content">
                  <%= link_to recipe.title, recipe_path(recipe), class: "card-title fw-bold" %>
                  <p class="card-text fw-light"><%= recipe.category.split(', ')[0].capitalize %></p>
                </div>
                <%= image_tag 'plus.svg', class: "add-button w-12" %>

              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
