<div class="container mt-3">
  <div class="row justify-content-center">

    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col-2">
          <% if user_signed_in? %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
              <i class="fa-solid fa-bowl-food justify-content-center"></i>
            <% end %>
          <% else %>
            <i class="fa-solid fa-bowl-food justify-content-center"></i>
          <% end %>
        </div>
        <div class="col-10">
          <% if user_signed_in? %>
            <h4>Hello, <b><%= current_user.username %></b>!</h4>
          <% else %>
            <h4>Hello, you!</h4>
          <% end %>
          <p>What are you cooking this week?</p>
        </div>
      </div>
    </div>

    <%= render "shared/search" %>

    <div class="bigcard col-12 col-lg-8 text-center mb-3">
      <p><b>Today</b></p>
      <div class="homecard add-recipe-card">
        <%= link_to recipes_path do %>
          <div>
            <i class="fa-solid fa-plus icon-orange" style="font-size: 36px;"></i>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-6 justify-content-center">
      <p><b>Recipes</b></p>
      <div class="row">
        <div class="col-12">
          <div class="recipe-cards">
            <% @recipes.each do |recipe| %>
              <div class="card">
                <img src="<%= recipe.image %>" class="card-image" alt="<%= recipe.title %>">
                <div class="card-content">
                  <%= link_to recipe.title, recipe_path(recipe), class: "card-title" %>
                  <p class="card-text"><%= recipe.category.split(', ')[0] %></p>
                </div>
                <button class="add-button">+</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
