<!DOCTYPE html>
<html>
  <head>
    <title>Prepify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <%= favicon_link_tag 'prepify-bowl.svg', rel: 'icon', type: 'image/svg+xml' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render "shared/navbar" %>
  </body>
</html>
